@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 95vh;
  margin: -20px 0 50px;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.github {
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #5f5f5f;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}
  /* animation css from here*/
@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3E1E68;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 17vmin;
  height: 17vmin;
  border-radius: 17vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #E45A84;
  top: 23%;
  left: 45%;
  animation-duration: 19s;
  animation-delay: -2s;
  transform-origin: 1vw 20vh;
  box-shadow: -34vmin 0 4.412331616649503vmin currentColor;
}
.background span:nth-child(1) {
  color: #E45A84;
  top: 55%;
  left: 22%;
  animation-duration: 47s;
  animation-delay: -40s;
  transform-origin: 16vw -3vh;
  box-shadow: -34vmin 0 4.98016393464733vmin currentColor;
}
.background span:nth-child(2) {
  color: #E45A84;
  top: 38%;
  left: 24%;
  animation-duration: 27s;
  animation-delay: -50s;
  transform-origin: -11vw -13vh;
  box-shadow: -34vmin 0 4.701963073285553vmin currentColor;
}
.background span:nth-child(3) {
  color: #E45A84;
  top: 86%;
  left: 49%;
  animation-duration: 52s;
  animation-delay: -7s;
  transform-origin: 23vw 24vh;
  box-shadow: 34vmin 0 5.0708736024372vmin currentColor;
}
.background span:nth-child(4) {
  color: #583C87;
  top: 95%;
  left: 20%;
  animation-duration: 55s;
  animation-delay: -41s;
  transform-origin: 25vw 23vh;
  box-shadow: -34vmin 0 4.50654057313395vmin currentColor;
}
.background span:nth-child(5) {
  color: #4aa70c;
  top: 91%;
  left: 67%;
  animation-duration: 36s;
  animation-delay: -47s;
  transform-origin: -6vw 6vh;
  box-shadow: -34vmin 0 4.807469402734801vmin currentColor;
}
.background span:nth-child(6) {
  color: #4aa70c;
  top: 68%;
  left: 100%;
  animation-duration: 9s;
  animation-delay: -11s;
  transform-origin: -2vw 16vh;
  box-shadow: 34vmin 0 4.737171979512892vmin currentColor;
}
.background span:nth-child(7) {
  color: #E45A84;
  top: 32%;
  left: 88%;
  animation-duration: 12s;
  animation-delay: -49s;
  transform-origin: 16vw -18vh;
  box-shadow: 34vmin 0 5.212314132293873vmin currentColor;
}
.background span:nth-child(8) {
  color: #77231e;
  top: 17%;
  left: 3%;
  animation-duration: 41s;
  animation-delay: -37s;
  transform-origin: -21vw -2vh;
  box-shadow: -34vmin 0 4.578908467939525vmin currentColor;
}
.background span:nth-child(9) {
  color: #47f5ca;
  top: 74%;
  left: 15%;
  animation-duration: 28s;
  animation-delay: -19s;
  transform-origin: -6vw 9vh;
  box-shadow: 34vmin 0 4.331060512885207vmin currentColor;
}
.background span:nth-child(10) {
  color: #FFACAC;
  top: 96%;
  left: 5%;
  animation-duration: 29s;
  animation-delay: -18s;
  transform-origin: 5vw 8vh;
  box-shadow: 34vmin 0 4.682235403827851vmin currentColor;
}
.background span:nth-child(11) {
  color: #47f5ca;
  top: 54%;
  left: 73%;
  animation-duration: 24s;
  animation-delay: -50s;
  transform-origin: 3vw -5vh;
  box-shadow: -34vmin 0 4.338685630318443vmin currentColor;
}
.background span:nth-child(12) {
  color: #583C87;
  top: 2%;
  left: 20%;
  animation-duration: 8s;
  animation-delay: -41s;
  transform-origin: 9vw -4vh;
  box-shadow: 34vmin 0 4.942184384297079vmin currentColor;
}
.background span:nth-child(13) {
  color: #77231e;
  top: 94%;
  left: 88%;
  animation-duration: 36s;
  animation-delay: -18s;
  transform-origin: 4vw -14vh;
  box-shadow: -34vmin 0 4.330324495268204vmin currentColor;
}
.background span:nth-child(14) {
  color: #77231e;
  top: 64%;
  left: 35%;
  animation-duration: 54s;
  animation-delay: -36s;
  transform-origin: 4vw 11vh;
  box-shadow: -34vmin 0 4.7128277210722755vmin currentColor;
}
.background span:nth-child(15) {
  color: #77231e;
  top: 72%;
  left: 18%;
  animation-duration: 36s;
  animation-delay: -20s;
  transform-origin: 16vw -11vh;
  box-shadow: 34vmin 0 4.6707810020994955vmin currentColor;
}
.background span:nth-child(16) {
  color: #FFACAC;
  top: 15%;
  left: 18%;
  animation-duration: 41s;
  animation-delay: -4s;
  transform-origin: 9vw -2vh;
  box-shadow: -34vmin 0 4.286969281801594vmin currentColor;
}
.background span:nth-child(17) {
  color: #77231e;
  top: 4%;
  left: 62%;
  animation-duration: 6s;
  animation-delay: -3s;
  transform-origin: -5vw 3vh;
  box-shadow: -34vmin 0 5.057802215950452vmin currentColor;
}
.background span:nth-child(18) {
  color: #4aa70c;
  top: 11%;
  left: 23%;
  animation-duration: 46s;
  animation-delay: -41s;
  transform-origin: 14vw 18vh;
  box-shadow: -34vmin 0 5.246148934442045vmin currentColor;
}
.background span:nth-child(19) {
  color: #47f5ca;
  top: 70%;
  left: 39%;
  animation-duration: 50s;
  animation-delay: -9s;
  transform-origin: -22vw 3vh;
  box-shadow: -34vmin 0 5.021736774580768vmin currentColor;
}

